In [1]:
print("hello")

hello

# Analyse simple sur la stat-desc

### Importation des packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

### Data importation

In [6]:
try:
    df = pd.read_excel('data.xlsx')
except:
    print('erreur :')
    %pip install openpyxl

### Basic manipulation

In [9]:
df.head()

   annee     mois   rec_douane      rec_connexe
0   2018  janvier  46951137555   19.549.999.674
1   2018  février  47313934748    5.248.767.786
2   2018     mars  50398861182    6.547.525.686
3   2018    avril  58775911887    7.220.072.918
4   2018      mai  58775911887    6.938.560.710