In [1]:
print("hello")

hello

# Analyse simple sur la stat-desc

### Importation des packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

### Data importation

In [6]:
try:
    df = pd.read_excel('data.xlsx')
except:
    print('erreur :')
    %pip install openpyxl

### Basic manipulation

In [9]:
df.head()

   annee     mois   rec_douane      rec_connexe
0   2018  janvier  46951137555   19.549.999.674
1   2018  février  47313934748    5.248.767.786
2   2018     mars  50398861182    6.547.525.686
3   2018    avril  58775911887    7.220.072.918
4   2018      mai  58775911887    6.938.560.710

### Missing data manipulation

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   annee        60 non-null     int64
 1   mois         60 non-null     object
 2   rec_douane   48 non-null     object
 3   rec_connexe  60 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.0+ KB

In [13]:
print(df.isnull().sum())

annee           0
mois            0
rec_douane     12
rec_connexe     0
dtype: int64

In [15]:
df_copy = df.copy()

In [16]:
df_copy.head()

   annee     mois   rec_douane      rec_connexe
0   2018  janvier  46951137555   19.549.999.674
1   2018  février  47313934748    5.248.767.786
2   2018     mars  50398861182    6.547.525.686
3   2018    avril  58775911887    7.220.072.918
4   2018      mai  58775911887    6.938.560.710

In [23]:
df_copy.rec_douane.unique()

array([46951137555, 47313934748, 50398861182, 58775911887, 68656726875,
       67199882580, 91744270326, 81660584134, 86950027364, 77933324364,
       77055520300, 79921904201, 80077845319, 92707936942, 83347546877,
       90188111899, 82674828124, 86585709871, 74503183149, 71673553416,
       72467971836, 67422443268, 64175523691, '605 672 967 11',
       '674 329 875 42', '598 034 911 26', '572 341 506 44',
       '508 469 326 05', '547 063 519 15', '683 389 565 01',
       '868 370 554 60', '886 483 694 70', '766 505 408 72',
       '721 957 331 65', '636 420 776 89', '660 550 884 82',
       '717 241 756 94', '757 398 038 44', '796 947 998 13',
       '924 727 438 60', '976 677 455 15', '971 394 666 03', 220499157780,
       '127 1200 116 74', 118926586673, 122463353583, 127929318831, nan],
      dtype=object)

#### Suppression des vides dans une chaine

In [89]:
def remove_empty_str(v):
    l = v.split(' ')
    
    # On supprime les valeurs vide de la liste
    for i in range(len(l)-1, -1, -1):
        if l[i] == "":
            del l[i]
    
    if len(l)==1:
        return int(l[0])
    else:
        concatenation = ''.join(str(element) for element in l) # On fait la concaténation des entiers converti en str
        return int(concatenation)

#### Converti un objet en un int

In [109]:
def converte_to_number(entry):
    try:
        if (type(entry) == int) | (type(entry) == float):
            return int(entry)
        elif type(entry) == str:
            try:
                return int(entry)
            except:
                if('.' in entry):
                    return entry
                return remove_empty_str(entry)
    except:
        return entry

In [110]:
remove_empty_str('717 241 756 94')

71724175694

In [111]:
converte_to_number('717 241 756 94')

71724175694

In [112]:
print(converte_to_number('717 241 756 94.1'))

717 241 756 94.1